name: run-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        php: [ 8.1, 8.2, 8.3, 8.4 ]
        laravel: [ '10.*', '11.*', '12.*' ]
        include:
          - laravel: 10.*
            testbench: ^8.22
          - laravel: 11.*
            testbench: 9.*
          - laravel: 12.*
            testbench: 10.*
        exclude:
          - php: 8.1
            laravel: 11.*
          - laravel: 12.*
            php: 8.1

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: |
          if [ "${{ matrix.laravel }}" = "10.*" ]; then
             composer require "pestphp/pest:2.33.2" "phpunit/phpunit:10.5.9" --no-update --no-audit --dev
          fi

          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update --no-audit --dev
          composer update --prefer-stable --prefer-dist --no-interaction --with-all-dependencies --no-audit

      - name: Run tests
        run: vendor/bin/pest

